body {
	font-family: 'Roboto', sans-serif;
}

.container {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height:100vh;
}

header.mainMenu {
	background-image:linear-gradient(to right, #fff 0%, #000 33%, #000 100%);
	line-height:50px;
	font-size:1.5rem;
	position:relative;
	margin:3px 0;
	width:100vw;
	display:flex;
	flex-wrap: nowrap;
	color:#fff;
	overflow:hidden;

	&:before {
		content:"";
		position:absolute;
		height:3px;
		width:100vw;
		background-color:rgb(32,32,32);
		top:-3px;
		left:0;
	}
	&:after {
		content:"";
		position:absolute;
		height:3px;
		width:100vw;
		background-color:rgb(32,32,32);
		bottom:-3px;
		left:0;
	}

	nav {
		width:100vw;
		
		ul {
			width:100vw;
			display:flex;
			justify-content: center;
			height:50px;

			.item {
				width: percentage(1/4);
				text-align:center;
				position:relative;
				color:#fff;
				flex-direction:row;
				white-space: nowrap;
				text-overflow:ellipsis;
				overflow:hidden;
				&:before {
					content:"";
					border-right:1px solid #fff;
					height:60%;
					position:absolute;
					top:20%;
					right:0;
				}

			  	&.toggle {
			  		display:none;
				}

				&:nth-last-child(2) {
			  		&:before {
			  			border-right:0;
			  		}
			  	}

			  	a {
			  		color:#fff;
			  		text-decoration:none;
			  	}
			}
		}
	}
}


.mainContent {
	flex:1;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	overflow:hidden;

	.item {
		width: percentage(1/4);
		background:white;
		text-align:center;

		&:nth-of-type(2) {
			margin:0 1rem;

			.content {
				background:green;
			}
		}

		&:first-of-type {
			.content {
				background:red;
			}
		}
		
		&:last-of-type {
			.content {
				background:blue;
			}
		}

		header {

			img {
				width:100%;
			}
		}

		.content {
			line-height:5rem;
		}
	}

	.fsb-slider {
		display:flex;
		align-items:center;
		justify-content:center;

		.fsbslider-text {
			position:absolute;
			bottom:3rem;
			text-align:center;
			left:0;
			right:0;
			z-index: 2;
			
			a {
				font-size:2rem;
				text-shadow:5px 5px 5px #000;
				color:#fff;
				text-decoration:none;
				font-family: 'Roboto', sans-serif;
			}
		}
	}
	#counter {
		z-index:1;
		font-size:2.5rem;
		text-shadow:5px 5px 5px #000;
		color:#fff;
		text-decoration:none;
		text-align:center;

		span {
			text-transform:uppercase;
		}
	}

	&.bg-agency {
		
		background-image:url("../images/gallerie/1.jpg");
		background-size: cover;
		background-position: 50% 0%;

		.bg-white {
			width: 100vw;
		    display: flex;
		    justify-content: flex-end;
		    height: 100%;
		    background-image: linear-gradient(to right, transparent 0%, transparent 40%, #fff 60%, #fff 100%);
		    align-items: center;
		}

		section {
			text-align:right;
			margin-right:3rem;
			width:60%;

			header {
				h1 {
					font-size:2rem;
					margin-bottom:3rem;
				}
			}
			article {
				font-size:1.2rem;
				text-shadow:1px 1px 10px #000;
				line-height:1.4rem;
			}
		}
	}
}

footer.mainFooter {
	align-content:flex-end;
	background:#000;
	line-height:50px;
	font-size:1.5rem;
	width:100vw;
	display:flex;
	flex-wrap: nowrap;
	color:#fff;
	overflow:hidden;
	justify-content: center;
	height:50px;

	nav {
		width:100vw;
		
		ul {
			width:100vw;
			display:flex;

			.item {
				width: percentage(1/3);
				text-align:center;
				position:relative;
				color:#fff;
				flex-direction:row;
				white-space: nowrap;
				text-overflow:ellipsis;
				overflow:hidden;

				a {
			  		color:#fff;
			  		text-decoration:none;
			  	}
			}
		}
	}
}
