@media (max-width: 1024px) {
  header.mainMenu nav {
    position: relative; }
    header.mainMenu nav ul {
      flex-direction: column; }
      header.mainMenu nav ul .item {
        width: 100vw;
        display: none; }
        header.mainMenu nav ul .item:before, header.mainMenu nav ul .item:after {
          content: none; }
        header.mainMenu nav ul .item.logo {
          display: flex;
          justify-content: center; }
        header.mainMenu nav ul .item.toggle {
          display: block;
          position: absolute;
          right: 1rem;
          text-align: right; } }
